body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.marker {
  stroke: grey;
}

.popup {
  width: 40vw;
  padding: 1rem;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}
